@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

.container .observablehq--block {
  margin: 0;
}

#observablehq-center {
  margin: 0;
}
#observablehq-main {
  max-width: none;
}
main#observablehq-main {
  margin: 0 0;
}
main > .observablehq--block {
  margin: 0 0;
}

label[for="module-relationships"], label[for="input-tab"], label[for="minimize-tab"] {
  margin-left:8px !important;
}

label[for="minimize-tab"] {
  /*display: none;*/
}

.box-1 {
  border-bottom: 5px dotted skyblue;
  border-right: 5px dashed skyblue;
}

.box-2 {
  padding-top: 2em;
}

.cm-editor {
  font-size: smaller;
}

body {
  margin: 0;
  overflow:hidden;
}

.box-2 {
  overflow-y: scroll;
}
/*.cm-editor {
  height: calc(100vh - 9em);
}
.tab {
  height: calc(100vh - 5em);
}*/

.container {
  display: flex;
  height: 100dvh;
  gap: 1em;
}

.tab > div {
  /*height: auto;*/
  /*flex-grow: 1;*/
  /*display: flex;*/
}


.cm-editor {
  height: 80dvh;
}

.box-1,
.box-2 {
  /*auto*/
  flex: 1 1 100%;
  max-width: 50%; /* perfer to flex allocation due to using fixed heights in media query */
  /* https://stackoverflow.com/a/32948440 */
  /*background: lightyellow;
  border: 3px dashed lightgrey;*/
  box-sizing: border-box;

  /*height: 100vh;*/
}

.tab {
  overflow:auto;
}


/* MEDIA QUERY */

@media (max-width: 1200px) and (orientation: portrait) {

  .box-1 {
    border-right: none;
  }

  label[for="minimize-tab"] {
    display: block;
    
  }

  .container {
    flex-direction: column;
    gap: 0;
  }
  .cm-editor {
    font-size: x-small;
  }

  .tab {
    max-height: 200px;
    /*overflow: scroll;*/
  }

  .cm-editor {
    height: 150px;
  }

  .box-1,
.box-2 {
  /*auto*/
  flex: auto;
  max-width: 100%;
}

  /*.cm-editor {
    height: calc(50vh - 9em);
  }

  .box-1 {
    height: 50%;
    max-height: 50%;

  }

  .box-2 {
    height: 50%;
    max-height: 50%;
  }*/

}